<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asi.m3alig">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWithNoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventEnabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppThemeWithNoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PatientWork.OrderM3algNowActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.WhenPainStartActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.ChoosePlaceActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.ScheduleActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.NotesActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".BeforLoginActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".M3algFilesWork.AvailableTreatmentRequestsActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity android:name=".M3algFilesWork.OfferHelpActivity" />
        <activity android:name=".M3algFilesWork.PrivacyActivity" />
        <activity android:name=".M3algFilesWork.HelpCenterActivity" />
        <activity android:name=".M3algFilesWork.AccountSettingsActivity" />
        <activity
            android:name=".PatientWork.m3aligSideScreens.MyHealthSummaryActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.m3aligSideScreens.MesseageCenterActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.m3aligSideScreens.ContactDoctorActivty"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.m3aligSideScreens.TreatmentGuidelinesActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.m3aligSideScreens.TreatmentSessionsScheduleActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".M3algFilesWork.TreatmentSessionReportActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".M3algFilesWork.RateTreatmentDoctorSessionActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.RateTreatmentSessionActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".M3algFilesWork.ScheduleAppointmentsActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".M3algFilesWork.TreatmentDoctorSessionMain"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".M3algFilesWork.FinishDoctorSessionActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.TreatmentSessionMain"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.FinishSessionActivity"
            android:theme="@style/AppThemeWithNoActionBar" />
        <activity
            android:name=".PatientWork.PatientSchedule"
            android:theme="@style/AppThemeWithNoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".M3algFilesWork.DoctorTreatmentSessionsScheduleActivity" />

        <service android:name=".Utility.Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utility.Notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <service
            android:name=".Utility.Notification.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".PatientWork.m3aligSideScreens.AccountSettingPatientActivity"></activity>
    </application>

</manifest>